body {
    background: #33363b;
    font-family: "Open Sans";
  }
  
  /*Responsive table*/
  table { 
    width: 100%; 
    border-collapse: collapse; 
    background: #33363b; 
    color: #cfcfcf;
    font-size: 12px;
    position: relative;
  }
  
  td { 
    padding: 8px; 
    text-align: left; 
  }

  th { 
    padding: 8px; 
    text-align: left; 
    position: sticky;
    top: 0;
    background: #25262a; 
  }
  
  /* Zebra striping */
  tr:nth-of-type(even) { 
    background: #25262a; 
  }
  
  th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #fff transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

  a {
    color: #9fa5ff;
    text-decoration:none;
}